fastapi
pydantic-settings
python-multipart
mangum
uvicorn
awslambdaric
jinja2
watchdog
cryptography
boto3
requests
playwright==1.51.0
twilio
paho-mqtt
descope
gunicorn
colorama
bs4
ics
TatSu>=5.0,<5.14
pytz
docker
pandas
plotly
redis
whatsapp_api_client_python
html2text
dependency_injector
firebase_admin
watchtower
python-bidi
arabic-reshaper
pillow
starlette
python-json-logger>=2.0.7
python-telegram-bot>=20.0
manychat