
#playwright==1.51
requests
twilio
bs4
html2text
boto3
firebase_admin
paho-mqtt
colorama
watchdog
descope
redis
dependency-injector
whatsapp_api_client_python
ics
TatSu>=5.0,<5.14
pytz
python-telegram-bot>=20.0
watchtower
schedule
pillow
manychat
thefuzz
python-Levenshtein
fastapi
pywebpush
websockets
jinja2
geopy