playwright==1.51.0
twilio
bs4
html2text
boto3
firebase_admin
paho-mqtt
colorama
watchdog
descope
redis
dependency-injector
whatsapp_api_client_python
ics
pytz
tzdata
watchtower
fontTools
python-json-logger>=2.0.7
python-telegram-bot>=20.0
manychat
