<!DOCTYPE html>
<html lang="he" dir="rtl">
    <link rel="icon" href="assets/favicon.png" type="image/png">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הפעלת שופט למערכת התראות מהפורטל</title>
</head>
<body r>
    <h1>הכנס פרטים</h1>
    <form action="/activateSubmit" method="POST">
        <label for="refId">קוד שופט:</label>
        <input type="number" id="refId" name="refId"><br><br>

        <button type="submit">הפעל</button>
    </form>
</body>
</html>
