watchdog
cryptography
boto3
requests
#flask[async]
#Flask-Limiter
mangum
twilio
paho-mqtt
descope
gunicorn
colorama
bs4
ics
TatSu>=5.0,<5.14
pytz
docker
pandas
plotly
redis
whatsapp_api_client_python
html2text
flask-cors
dependency_injector
firebase_admin
watchtower
python-bidi
arabic-reshaper
pillow
fastapi
pydantic-settings
python-multipart
uvicorn
starlette
manychat
thefuzz
python-Levenshtein
pdfplumber
pywebpush
PyJWT
websockets
geopy
reportlab
slowapi[fastapi]
python-telegram-bot>=20.0
